src/main/mule/shared/utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-fare-price" doc:id="d9ab799c-1604-4275-8184-2b5a700fb7c4" >
		<ee:transform doc:name="Calculate Fare Price" doc:id="b8153e35-3e67-468e-9353-a87317343920" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="farePrice" ><![CDATA[%dw 2.0
output application/json
---
(payload.passengers reduce ((item, accumulator=0) -> (item.classType match {
	    case "General" -> 280
	    case "Sleeper" -> 350
	    case "AC 3 Tier" -> 600
	    case "AC 2 Tier" -> 750
	    case "AC 1 Tier" -> 900
}) + accumulator)) as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<sub-flow name="validate-reservationId-uriparam" doc:id="6480cb42-e034-4fc1-ae7f-d0663e4479b5">
		<validation:is-number doc:name="reservationId" doc:id="2520ab34-f2cd-4eb3-ab12-2f076694bc53" value="#[vars.reservationId]" numberType="LONG" message='#["Reservation ID must be Number"]' />
	</sub-flow>
	<sub-flow name="check-reservationId" doc:id="4ae29a32-c51c-41de-a1cc-93f16c13338a" >
		<db:select doc:name="RAILWAY_RESERVATIONS" doc:id="a60fc68e-f3fb-4814-bdaf-63ea81631ed1" config-ref="Database_Config" target="reservationCheck">
			<db:sql ><![CDATA[SELECT reservation_id FROM RAILWAY_RESERVATIONS
WHERE reservation_id=:reservation_id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	reservation_id: vars.reservationId
}]]]></db:input-parameters>
		</db:select>
		
		<choice doc:name="Choice" doc:id="1de72a8b-3796-47ae-922a-18ecaae060a1" >
			<when expression="#[sizeOf(vars.reservationCheck) &gt; 0]">
				<logger level="INFO" doc:name="Logger" doc:id="61782275-436c-447e-9dd6-04aaca6957f0" message='#["Reservation with ID: " ++ (vars.reservationId as String) ++ " is found in Database"]'/>

			</when>
			<otherwise >
				<logger level="ERROR" doc:name="Logger" doc:id="16da7fc6-7f6e-4251-a3e0-679bea24186a" message='#["Reservation with ID: " ++ (vars.reservationId as String) ++ " is not found in Database"]'/>
				<raise-error doc:name="Raise error" doc:id="9e0ad99c-f638-4794-9058-82990981b484" type="CUSTOM:RESERVATION_NOT_FOUND" description='#["Reservation with ID: " ++ (vars.reservationId as String) ++ " is not found in system"]'/>
			
</otherwise>
		</choice>
		
	</sub-flow>
</mule>
